* {
  box-sizing: border-box;
}

.component {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--White-100, #ffffff);
  padding: 4px;
  width: 240px;
  height: 360px;
  row-gap: 2px;

  .component6 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    overflow: hidden;

    .generatedVisuals {
      position: relative;
      background-color: #00000033;
      width: 232px;
      height: 317px;
      background-image: url(../image/ml0gzred-py83zp4.png);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .frame {
        display: inline-flex;
        position: absolute;
        bottom: 20px;
        left: 56px;
        align-items: center;
        column-gap: 4px;
        border-radius: 47px;
        background: var(--Black-40, #1c1c1c66);
        padding: 8px 20px 8px 16px;
        width: 120px;
        height: 40px;
        overflow: hidden;

        .replaceIcon {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }

        .replaceImage {
          flex-shrink: 0;
          line-height: 10px;
          letter-spacing: -0.21px;
          color: var(--White-100, #ffffff);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }
  }

  .container2 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    column-gap: 4px;
    padding: 4px 8px;
    width: 232px;

    .container {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 8px;
      height: 25px;
      overflow: hidden;

      .iconContainer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 20px;
        height: 20px;

        .krea7 {
          flex-shrink: 0;
          width: 18px;
          height: 18px;
          overflow: hidden;
        }
      }

      .imageInput {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: -0.21px;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 600;
      }
    }

    .image {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: -0.21px;
      color: var(--Black-40, #1c1c1c66);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .instance {
    display: flex;
    position: absolute;
    top: 171px;
    right: -25px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 16px;
    height: 16px;

    .ellipse1 {
      flex-shrink: 0;
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--White-100, #ffffff);
      border-radius: 50%;
      background: var(--Brand-Doubao-100, #00e424);
      width: 12px;
      height: 12px;
    }
  }
}
