* {
  box-sizing: border-box;
}

.frame2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: var(--Black-3, #00000008);
  padding: 8px 10px;
  width: 206px;
  height: 58px;
  row-gap: 6px;

  .frame2117130906 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 6px;

    .lora {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      padding: 2px;
      width: 16px;
      height: 16px;
      overflow: hidden;

      .icon {
        flex-shrink: 0;
        width: 9px;
        height: 3px;
      }
    }

    .text {
      flex-grow: 1;
      line-height: 17px;
      letter-spacing: -0.16px;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .frame {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
    }

    .autoWrapper {
      position: relative;
      flex-shrink: 0;
      width: 12px;
      height: 12px;

      .expandIcon {
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        rotate: -90deg;
      }
    }
  }

  .divider {
    position: relative;
    flex-shrink: 0;
    align-self: stretch;
    height: 20px;

    .vector2 {
      display: flex;
      position: absolute;
      top: 10px;
      left: 0;
      align-items: center;
      padding-right: 60px;
      width: 186px;
      height: 0;
      background-image: url(../image/mlrxbyqd-h7hbkln.svg);
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;

      .vector3 {
        width: 126px;
        height: 2px;
      }
    }

    .frame2117130907 {
      display: inline-flex;
      position: absolute;
      top: 3px;
      left: 113px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 13px;
      background: var(--Brand-Doubao-100, #00e424);
      padding: 1px 6px;
      width: 27px;
      min-width: 24px;
      height: 14px;
      row-gap: 10px;

      .a08 {
        flex-shrink: 0;
        line-height: 10px;
        letter-spacing: -0.16px;
        color: #ffffff;
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-weight: 500;
      }
    }
  }
}
