* {
  box-sizing: border-box;
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--Black-5, #1c1c1c0d);
  padding: 0px 10px 10px;
  width: 1819px;
  height: 2298px;

  .iconContainer {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  .adjustIcon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
    overflow: hidden;
  }

  .deleteIcon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: 10px;
    padding: 2px 3px;
    overflow: hidden;

    .icon {
      flex-shrink: 0;
      width: 10px;
      height: 12px;
    }
  }

  .actionBar {
    display: inline-flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: center;
    column-gap: 12px;
    margin-top: -172px;
    margin-left: 1695px;
    border-radius: 30px;
    background: var(--White-100, #ffffff);
    padding: 10px 16px;
  }

  .rightPanelContent {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    margin-top: 146px;
    min-width: 1799px;
    height: 1846px;

    .resultTitle {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border-radius: 11px;
      background: var(--White-100, #ffffff);
      padding: 8px 12px;

      .resultTitleText {
        flex-shrink: 0;
        line-height: 16px;
        letter-spacing: 0;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }
    }

    .frame {
      display: inline-flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      align-self: stretch;
      justify-content: center;
      row-gap: 4px;

      .a6091456641810306730 {
        flex-grow: 1;
        align-self: stretch;
        border-radius: 8px;
        width: 48px;
        height: 48px;
      }

      .imageContainer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 15px;
        border: 1px solid var(--Black-100, #1c1c1c);
        border-radius: 12px;
        padding: 3px;
        width: 56px;
      }

      .imageContainer2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 15px;
        border-radius: 12px;
        padding: 4px;
        width: 56px;
      }
    }

    .a60914566418103067302 {
      position: absolute;
      top: 645px;
      left: 691px;
      flex-shrink: 0;
      width: 418px;
      height: 557px;
    }

    .actionBar2 {
      display: inline-flex;
      position: absolute;
      bottom: 1810px;
      left: 1695px;
      flex-shrink: 0;
      align-items: flex-start;
      justify-content: center;
      column-gap: 12px;
      z-index: 1;
      border-radius: 30px;
      background: var(--White-100, #ffffff);
      padding: 10px 16px;
      width: 104px;
      height: 36px;
    }
  }

  .container6 {
    display: flex;
    align-items: flex-start;
    column-gap: 8px;
    margin-top: 10px;
    border-radius: 30px;
    background: var(--White-100, #ffffff);
    padding-right: 16px;
    padding-left: 16px;
    width: 1799px;

    .promptInput {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: flex-start;
      align-self: stretch;
      border: 1px solid var(--White-40, #ffffff66);
      border-radius: 40px;
      padding-top: 11px;
      padding-bottom: 11px;
      row-gap: 13px;

      .container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        align-self: stretch;

        .addImageText {
          flex-shrink: 0;
          padding: 8px;
          line-height: 16px;
          letter-spacing: 0;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
        }

        .textArea {
          display: flex;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          padding: 8px 10px;
          overflow: hidden;

          .promptPlaceholder {
            flex-grow: 1;
            width: 1747px;
            line-height: 26px;
            letter-spacing: -0.31px;
            color: #000000;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }
      }

      .container5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 24px;
        padding-left: 4px;

        .optionsContainer {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 8px;

          .option {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 4px;
            border: 1px solid var(--White-100, #ffffff);
            border-radius: 16px;
            background: var(--Black-5, #1c1c1c0d);
            padding-right: 11px;
            padding-left: 11px;

            .icon3 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              padding: 2px;
              width: 16px;
              height: 16px;
              overflow: hidden;

              .icon2 {
                flex-shrink: 0;
                width: 9px;
                height: 9px;
              }
            }

            .optionText {
              flex-shrink: 0;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--Black-100, #1c1c1c);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }

            .frame2 {
              flex-shrink: 0;
              width: 12px;
              height: 12px;
            }
          }

          .container3 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--White-100, #ffffff);
            border-radius: 16px;
            background: var(--Black-5, #1c1c1c0d);
            padding-right: 11px;
            padding-left: 11px;

            .quantityText {
              flex-shrink: 0;
              line-height: 15px;
              letter-spacing: 1.62px;
              color: var(--Black-100, #1c1c1c);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 10px;
              font-weight: 700;
              text-transform: UPPERCASE;
            }

            .container2 {
              display: flex;
              flex-shrink: 0;
              align-items: flex-start;
              column-gap: 6px;
              width: 101px;

              .quantityButton {
                flex-shrink: 0;
                padding: 6px 0px;
                width: 28px;
                height: 28px;
                text-align: center;
                line-height: 16px;
                letter-spacing: 0;
                color: var(--Black-40, #1c1c1c66);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 900;
              }

              .button {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                border-radius: 8px;
                background: var(--White-100, #ffffff);
                width: 28px;
                height: 28px;

                .quantityButton2 {
                  flex-shrink: 0;
                  line-height: 16px;
                  letter-spacing: 0;
                  color: var(--Black-100, #1c1c1c);
                  font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                  font-size: 12px;
                  font-weight: 900;
                }
              }

              .quantityButton3 {
                flex-grow: 1;
                padding: 6px 0px;
                width: 33px;
                height: 28px;
                text-align: center;
                line-height: 16px;
                letter-spacing: 0;
                color: var(--Black-40, #1c1c1c66);
                font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-weight: 900;
              }
            }
          }

          .button2 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            column-gap: 8px;
            border: 1px solid var(--White-100, #ffffff);
            border-radius: 16px;
            background: var(--Black-5, #1c1c1c0d);
            padding-right: 11px;
            padding-left: 11px;

            .container4 {
              flex-shrink: 0;
              border: 2px solid var(--Black-100, #1c1c1c);
              border-radius: 6px;
              width: 16px;
              height: 16px;
            }

            .ratioText {
              flex-shrink: 0;
              width: 24px;
              text-align: center;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--Black-100, #1c1c1c);
              font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }

        .button3 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          border-radius: 46px;
          background: var(--Black-100, #1c1c1c);
          padding-right: 28px;
          padding-left: 20px;
          height: 40px;

          .interfaceFavoriteSta {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            overflow: hidden;
          }

          .generateText {
            flex-shrink: 0;
            line-height: 26px;
            letter-spacing: -0.31px;
            color: var(--White-100, #ffffff);
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
    }
  }
}
