* {
  box-sizing: border-box;
}

.instance2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  background: var(--White-100, #ffffff);
  padding: 4px;
  width: 240px;
  height: 360px;
  row-gap: 2px;

  .component6 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    border-radius: 16px;
    overflow: hidden;

    .frame {
      display: flex;
      align-items: flex-end;
      padding-bottom: 3px;
      padding-left: 4px;
      width: 232px;
      height: 317px;
      background-image: url(../image/mlizy2lw-yls5n58.png);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;

      .a6091456641810306730 {
        flex-shrink: 0;
        border-radius: 8px;
        width: 34px;
        height: 34px;
      }

      .imageContainer {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        border: 1px solid var(--White-100, #ffffff);
        border-radius: 12px;
        padding: 3px;
        width: 40px;
        height: 40px;
      }

      .imageContainer2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 15px;
        border-radius: 12px;
        padding: 4px;
        width: 40px;
        height: 40px;
      }
    }
  }

  .container2 {
    display: flex;
    flex-shrink: 0;
    align-items: flex-end;
    align-self: stretch;
    column-gap: 4px;
    padding: 4px 8px;

    .container {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 8px;
      height: 25px;
      overflow: hidden;

      .frame2 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
        overflow: hidden;
      }

      .imageInput {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: -0.21px;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 600;
      }
    }

    .text {
      flex-shrink: 0;
      line-height: 22px;
      letter-spacing: -0.21px;
      color: var(--Black-40, #1c1c1c66);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 14px;
    }
  }

  .verticalDivider {
    position: absolute;
    top: 139px;
    right: -1px;
    flex-shrink: 0;
    width: 1px;
    height: 80px;
    background-image: linear-gradient(
      180deg,
      var(--color-white-0, #ffffff00) 0%,
      var(--color-white-solid, #ffffff) 50%,
      var(--color-white-0, #ffffff00) 100%
    );
  }

  .instance {
    display: flex;
    position: absolute;
    top: 171px;
    right: -25px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    z-index: 1;
    width: 16px;
    height: 16px;

    .ellipse1 {
      flex-shrink: 0;
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--White-100, #ffffff);
      border-radius: 50%;
      background: var(--Brand-Doubao-100, #00e424);
      width: 12px;
      height: 12px;
    }
  }

  .verticalDivider2 {
    position: absolute;
    top: 149px;
    right: -3px;
    flex-shrink: 0;
    z-index: 2;
    width: 2px;
    height: 60px;
    background-image: linear-gradient(
      180deg,
      var(--color-white-0, #ffffff00) 0%,
      var(--color-white-solid, #ffffff) 50%,
      var(--color-white-0, #ffffff00) 100%
    );
  }
}
