* {
  box-sizing: border-box;
}

.instance {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
  background: var(--White-100, #ffffff);
  padding: 16px 8px;
  width: 52px;
  height: 176px;
  overflow: hidden;
  row-gap: 8px;

  .icon {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    margin-right: 6px;
    margin-left: 6px;
    padding: 2px;
    overflow: hidden;

    .roundedRectangle2 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      border: 2px solid var(--Black-100, #1c1c1c);
      border-radius: 7px;
      padding: 4px;

      .roundedRectangle {
        border: 2px solid var(--Black-100, #1c1c1c);
        border-radius: 3px;
        width: 8px;
        height: 8px;
      }
    }
  }

  .vector132 {
    flex-shrink: 0;
    background: #1c1c1c0d;
    width: 8px;
    height: 1px;
  }

  .icon2 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  .workflow {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
  }
}
