* {
  box-sizing: border-box;
}

.instance {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 4px;
  border-radius: 51px;
  background: var(--Brand-Doubao-100, #00e424);
  padding: 10px;
  width: 60px;
  height: 24px;

  .icon {
    flex-shrink: 0;
    width: 12px;
    height: 12px;
  }

  .buttonLabel {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: 0;
    color: var(--White-100, #ffffff);
    font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
  }
}
