* {
  box-sizing: border-box;
}

.frame15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--White-100, #ffffff);
  width: 2329px;
  height: 1280px;
  overflow: hidden;
  background-image: linear-gradient(#1c1c1c1a, #1c1c1c1a);

  .frame6 {
    flex-shrink: 0;
    width: 206px;
    height: 2px;
  }

  .verticalDivider2 {
    width: 2px;
    height: 60px;
    background-image: linear-gradient(
      180deg,
      var(--color-white-0, #ffffff00) 0%,
      var(--color-white-solid, #ffffff) 50%,
      var(--color-white-0, #ffffff00) 100%
    );
  }

  .verticalDivider {
    margin-left: 3px;
    width: 1px;
    height: 80px;
    background-image: linear-gradient(
      180deg,
      var(--color-white-0, #ffffff00) 0%,
      var(--color-white-solid, #ffffff) 50%,
      var(--color-white-0, #ffffff00) 100%
    );
  }

  .add {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
  }

  .container12 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 4px;

    .numberText {
      flex-shrink: 0;
      width: 20px;
      text-align: center;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .number {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .container9 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;
    }

    .container10 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .numberContainer {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 20px;
        row-gap: 10px;

        .numberText2 {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }
    }

    .container11 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;
    }
  }

  .container8 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 4px;

    .instance9 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .icon8 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding: 2px;
        width: 16px;
        height: 16px;
        overflow: hidden;

        .icon7 {
          flex-shrink: 0;
          width: 9px;
          height: 9px;
        }
      }
    }

    .instance10 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .icon9 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        width: 16px;
        height: 16px;
        row-gap: 10px;

        .workflow3 {
          flex-shrink: 0;
          width: 14px;
          height: 14px;
          overflow: hidden;
        }
      }

      .presetText {
        flex-grow: 1;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Black-40, #1c1c1c66);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .container6 {
      display: flex;
      position: relative;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .iconContainer2 {
        flex-shrink: 0;
        border-radius: 50%;
        width: 16px;
        height: 16px;
      }

      .instance11 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
        opacity: 0.4;
        padding: 2px;
        overflow: hidden;

        .icon10 {
          flex-shrink: 0;
          width: 8px;
          height: 9px;
        }
      }

      .instance12 {
        display: flex;
        position: absolute;
        top: 8px;
        left: -12px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 16px;
        height: 16px;
      }
    }

    .container7 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .image2 {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Black-40, #1c1c1c66);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .textContainer {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      border-radius: 16px;
      background: var(--Black-3, #00000008);
      padding: 12px;
      row-gap: 10px;

      .placeholderText {
        flex-shrink: 0;
        align-self: stretch;
        width: 182px;
        line-height: 18px;
        letter-spacing: -0.21px;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
      }
    }
  }

  .container5 {
    display: flex;
    align-items: flex-end;
    column-gap: 4px;
    margin-top: 2px;
    padding: 4px 8px;
    width: 232px;

    .container4 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 8px;
      height: 25px;
      overflow: hidden;

      .imageInput {
        flex-shrink: 0;
        line-height: 22px;
        letter-spacing: -0.21px;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 600;
      }
    }
  }

  .container13 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 10px;
    padding-right: 4px;
    padding-left: 4px;
    height: 32px;

    .effect {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding: 2px 6px 1px 7px;

      .vector5 {
        margin-left: 2px;
        width: 2px;
        height: 2px;
      }

      .autoWrapper6 {
        position: relative;
        margin-top: -1px;
        width: 2px;
        height: 13px;

        .vector6 {
          position: absolute;
          top: 4px;
          right: -3px;
          width: 1px;
          height: 1px;
        }

        .verticalContainer2 {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          align-items: center;
          width: 2px;
          height: 13px;
          rotate: -45deg;
          row-gap: 1px;

          .horizontalContainer2 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            width: 4px;
            height: 4px;

            .roundedRectangle5 {
              flex-shrink: 0;
              border-radius: 1px;
              width: 2px;
              height: 3px;
              rotate: 90deg;
            }
          }

          .roundedRectangle6 {
            flex-shrink: 0;
            border-radius: 1px;
            background: var(--Black-100, #1c1c1c);
            width: 2px;
            height: 8px;
          }
        }
      }
    }

    .imageEditorText {
      flex-grow: 1;
      line-height: 22px;
      letter-spacing: -0.21px;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
    }

    .instance13 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      border-radius: 51px;
      background: var(--White-100, #ffffff);
      padding: 10px;
      width: 24px;
      height: 24px;
    }
  }

  .topBar {
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding: 8px 10px;
    min-width: 2329px;

    .leftSection {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 8px;

      .icon {
        position: relative;
        flex-shrink: 0;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        width: 52px;
        height: 40px;
        overflow: hidden;

        .frame {
          position: absolute;
          top: 12px;
          left: 26px;
          width: 1px;
          height: 16px;
          rotate: -90deg;
        }

        .frame2 {
          position: absolute;
          top: 12px;
          left: 26px;
          width: 1px;
          height: 16px;
        }
      }

      .component10 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 8px 16px;
        height: 40px;
        backdrop-filter: blur(8px);

        .currentWorkflow {
          flex-shrink: 0;
          opacity: 0.4;
          line-height: 18px;
          letter-spacing: 0;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
        }
      }

      .component102 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 8px 16px;
        height: 40px;
        backdrop-filter: blur(8px);

        .workflow2 {
          flex-shrink: 0;
          line-height: 18px;
          letter-spacing: 0;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 700;
        }
      }

      .add2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding-top: 8px;
        padding-bottom: 8px;
        width: 52px;
        height: 40px;
        overflow: hidden;
        backdrop-filter: blur(8px);

        .component103 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          width: 56px;
          height: 56px;
        }
      }

      .frame3 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-80, #ffffffcc);
        padding: 8px 24px;
        width: 52px;
        row-gap: 7px;
        backdrop-filter: blur(8px);
      }
    }

    .container3 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      row-gap: 10px;

      .instance {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;
        margin-right: 290px;
        margin-left: 290px;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 4px;

        .icon2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 13px;
          border-radius: 9999px;
          padding: 11px 27px;
          width: 32px;
          height: 32px;
          overflow: hidden;

          .frame4 {
            flex-shrink: 0;
            width: 11px;
            height: 12px;
          }
        }

        .buttonMargin {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 4px;
          border-radius: 9999px;
          background: var(--Black-100, #1c1c1c);
          padding-right: 16px;
          padding-left: 8px;
          height: 32px;

          .container2 {
            display: flex;
            flex-shrink: 0;
            flex-wrap: wrap;
            align-content: center;
            align-items: center;
            justify-content: center;
            column-gap: 3px;
            padding: 3px;
            width: 20px;
            height: 20px;
            row-gap: 4px;

            .container {
              flex-shrink: 0;
              width: 4px;
              height: 11px;
            }
          }

          .buttonText {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--White-100, #ffffff);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 700;
          }
        }

        .linkIcon {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 13px;
          border-radius: 9999px;
          padding: 11px 27px;
          width: 32px;
          height: 32px;
          overflow: hidden;

          .autoWrapper {
            position: relative;
            flex-shrink: 0;
            width: 13px;
            height: 12px;

            .iconFrame {
              position: absolute;
              top: 0;
              left: 0;
              width: 13px;
              height: 12px;
              rotate: -180deg;
            }
          }
        }

        .button {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 7px;
          border-radius: 9999px;
          padding: 8px 24px;
          width: 32px;
          height: 32px;

          .icon3 {
            flex-shrink: 0;
            width: 20px;
            height: 20px;
            overflow: hidden;
          }
        }
      }
    }

    .rightSection {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      column-gap: 8px;

      .darkMode {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding-top: 8px;
        padding-bottom: 8px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        backdrop-filter: blur(8px);

        .eH {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #000000;
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 700;
        }
      }

      .darkMode2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 10px;
        overflow: hidden;

        .iconFrame2 {
          width: 20px;
          height: 20px;
        }
      }

      .userIcon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 13px 14px;
        overflow: hidden;

        .vector {
          width: 12px;
          height: 15px;
        }
      }
    }
  }

  .autoWrapper11 {
    display: flex;
    position: relative;
    align-items: flex-start;
    align-self: stretch;
    margin-top: 56px;
    padding-right: 30px;
    padding-left: 10px;

    .ellipse1 {
      flex-shrink: 0;
      outline-width: 2px;
      outline-style: solid;
      outline-color: var(--White-100, #ffffff);
      border-radius: 50%;
      background: var(--Brand-Doubao-100, #00e424);
      width: 12px;
      height: 12px;
    }

    .imageContainer2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 15px;
      border-radius: 12px;
      padding: 4px;
      width: 40px;
      height: 40px;
    }

    .imageContainer {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 15px;
      border: 1px solid var(--White-100, #ffffff);
      border-radius: 12px;
      padding: 3px;
      width: 40px;
      height: 40px;
    }

    .frame13 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      column-gap: 4px;

      .frame32 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        column-gap: 6px;
        border-radius: 30px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .frame14 {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
        }
      }
    }

    .frame142 {
      display: flex;
      flex-shrink: 0;
      align-items: flex-end;
      align-self: stretch;
      column-gap: 4px;
      z-index: 1;
      padding: 4px 8px;
      height: 32px;

      .container14 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;
        height: 25px;
        overflow: hidden;

        .preview {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: -0.21px;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 15px;
          font-weight: 600;
        }
      }
    }

    .instance2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 440px;
      border-radius: 9999px;
      background: var(--White-100, #ffffff);
      padding: 16px 8px;
      width: 52px;
      overflow: hidden;
      row-gap: 8px;

      .icon4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        margin-right: 6px;
        margin-left: 6px;
        padding: 2px;
        overflow: hidden;

        .roundedRectangle2 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          border: 2px solid var(--Black-100, #1c1c1c);
          border-radius: 7px;
          padding: 4px;

          .roundedRectangle {
            border: 2px solid var(--Black-100, #1c1c1c);
            border-radius: 3px;
            width: 8px;
            height: 8px;
          }
        }
      }

      .vector132 {
        flex-shrink: 0;
        background: #1c1c1c0d;
        width: 8px;
        height: 1px;
      }

      .icon5 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 6px;
        margin-left: 6px;
        padding: 3px 8px 1px 10px;

        .vector2 {
          margin-left: 3px;
          width: 2px;
          height: 2px;
        }

        .autoWrapper2 {
          position: relative;
          margin-top: -2px;
          width: 4px;
          height: 20px;

          .vector3 {
            position: absolute;
            top: 5px;
            right: -4px;
            width: 2px;
            height: 2px;
          }

          .verticalContainer {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            flex-direction: column;
            align-items: center;
            width: 4px;
            height: 20px;
            rotate: -45deg;
            row-gap: 2px;

            .horizontalContainer {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 15px;
              width: 6px;
              height: 6px;

              .roundedRectangle3 {
                flex-shrink: 0;
                border-radius: 2px;
                width: 4px;
                height: 4px;
                rotate: 90deg;
              }
            }

            .roundedRectangle4 {
              flex-shrink: 0;
              border-radius: 2px;
              background: var(--Black-100, #1c1c1c);
              width: 3px;
              height: 12px;
            }
          }
        }
      }

      .workflow {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
      }
    }

    .autoWrapper10 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
      margin-left: 37px;

      .instance14 {
        display: flex;
        position: absolute;
        bottom: -8px;
        left: -8px;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 16px;
        height: 16px;
      }

      .group242 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        margin-right: 60px;

        .autoWrapper3 {
          display: flex;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
          padding-right: 532px;
          padding-left: 0;

          .frame2117130866 {
            display: inline-flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 39px;
            background: #ffffff;
            padding: 4px 10px;
            height: 32px;

            .text {
              flex-shrink: 0;
              line-height: 18px;
              letter-spacing: 0;
              color: var(--Black-100, #1c1c1c);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }

          .instance4 {
            display: inline-flex;
            align-items: center;
            column-gap: 12px;
            border: 1px solid var(--www-florafauna-ai-White-10, #ffffff1a);
            border-radius: 16px;
            background: var(--White-100, #ffffff);
            padding-right: 11px;
            padding-left: 11px;
            height: 32px;

            .text2 {
              flex-shrink: 0;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--Black-100, #1c1c1c);
              font-family: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }

            .frame2117130867 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 4px;

              .ellipse94 {
                flex-shrink: 0;
                border-radius: 50%;
                background: #0000001a;
                width: 16px;
                height: 16px;
              }
            }

            .frame5 {
              flex-shrink: 0;
              align-self: stretch;
              width: 4px;
              height: 32px;
            }

            .frame2117130869 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;

              .frame2117130868 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 2px;
                width: 16px;
                height: 16px;

                .rectangle13501 {
                  flex-shrink: 0;
                  border-radius: 1px;
                  width: 2px;
                  height: 12px;
                }
              }
            }

            .frame2117130870 {
              display: inline-flex;
              flex-shrink: 0;
              align-items: center;
              column-gap: 8px;

              .instance3 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 7px;
                border-radius: 34px;
                padding: 7px;
                width: 16px;
                height: 16px;

                .icon6 {
                  flex-shrink: 0;
                  width: 8px;
                  height: 10px;
                }
              }
            }

            .more {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 3px;
              border-radius: 8px;
              padding: 6px;
              width: 24px;
              height: 24px;

              .vector4 {
                flex-shrink: 0;
                width: 1px;
                height: 1px;
              }
            }
          }
        }

        .frame2117130865 {
          display: flex;
          position: relative;
          align-items: flex-start;
          margin-top: 9px;
          border: 1px solid var(--Black-5, #1c1c1c0d);
          border-radius: 40px;
          background: var(--Black-5, #1c1c1c0d);
          padding: 33px 0px 26px 85px;
          width: 1484px;

          .image {
            flex-shrink: 0;
            line-height: 22px;
            letter-spacing: -0.21px;
            color: var(--Black-40, #1c1c1c66);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }

          .text3 {
            flex-grow: 1;
            line-height: 17px;
            letter-spacing: -0.16px;
            color: var(--Black-100, #1c1c1c);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }

          .iconContainer {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            width: 20px;
            height: 20px;

            .krea7 {
              flex-shrink: 0;
              width: 18px;
              height: 18px;
              overflow: hidden;
            }
          }

          .autoWrapper4 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;

            .component6 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              border-radius: 16px;
              height: 237px;
              overflow: hidden;

              .generatedVisuals {
                flex-grow: 1;
                align-self: stretch;
                width: 232px;
                height: 237px;
              }
            }
          }

          .instance5 {
            display: flex;
            align-items: center;
            border-radius: 20px;
            background: var(--White-100, #ffffff);
            padding: 4px 0px 4px 4px;
            width: 240px;
          }

          .instance6 {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            margin-top: 132px;
            margin-left: 8px;
            width: 16px;
            height: 16px;
          }

          .instance7 {
            display: flex;
            align-items: center;
            z-index: 1;
            margin-left: 35px;
            border-radius: 20px;
            background: var(--White-100, #ffffff);
            padding: 4px 0px 4px 4px;
            width: 240px;
          }

          .instance8 {
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            z-index: 2;
            margin-top: 132px;
            margin-left: 8px;
            width: 16px;
            height: 16px;
          }

          .line2 {
            display: flex;
            position: absolute;
            top: 173px;
            left: 341px;
            align-items: flex-start;
            padding-bottom: 36px;
            padding-left: 299px;
            width: 437px;
            height: 152px;
            background-image: url(../image/mlgd1y2s-ycftm57.svg);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .line {
              width: 138px;
              height: 116px;
            }
          }

          .overlayBorderOverlay {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 164px;
            margin-left: 130px;
            border: 1px solid var(--White-20, #ffffff33);
            border-radius: 16px;
            background: var(--White-100, #ffffff);
            padding: 3px;
            row-gap: 8px;

            .addIcon {
              flex-shrink: 0;
              width: 12px;
              height: 12px;
            }

            .presetText2 {
              display: -webkit-box;
              flex-grow: 1;
              overflow: hidden;
              line-height: 17px;
              letter-spacing: 0;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
            }

            .autoWrapper5 {
              position: relative;
              flex-shrink: 0;
              width: 12px;
              height: 12px;

              .expandIcon {
                position: absolute;
                top: 0;
                left: 0;
                width: 12px;
                height: 12px;
                rotate: -90deg;
              }
            }
          }

          .autoWrapper7 {
            position: relative;
            margin-top: 257px;
            margin-left: 16px;
            width: 91px;
            height: 148px;

            .line4 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              align-items: center;
              width: 91px;
              height: 148px;
              background-image: url(../image/mlgd1y2s-vwqdkuq.svg);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;

              .line3 {
                width: 91px;
                height: 148px;
              }
            }
          }

          .instance16 {
            position: relative;
            margin-top: 46px;
            width: 240px;
            height: 422px;

            .frame8 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              flex-direction: column;
              align-items: flex-start;
              border-radius: 20px;
              background: var(--White-100, #ffffff);
              padding: 4px;
              width: 240px;
              height: 422px;
              row-gap: 4px;
              backdrop-filter: blur(10px);

              .component62 {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                align-items: flex-start;
                align-self: stretch;
                border-radius: 16px;
                background: var(--Black-20, #1c1c1c33);

                .overlayShadowOverlay {
                  display: flex;
                  flex-grow: 1;
                  align-items: center;
                  align-self: stretch;
                  border-radius: 16px;
                  background: var(--White-80, #ffffffcc);
                  min-width: 157px;
                  min-height: 157px;
                  overflow: hidden;

                  .frame7 {
                    display: flex;
                    align-items: flex-end;
                    padding-bottom: 6px;
                    padding-left: 6px;
                    width: 232px;
                    height: 342px;
                    background-image: url(../image/mlgd1y31-br9cln6.png);
                    background-position: center;
                    background-size: contain;
                    background-repeat: no-repeat;

                    .a6091456641810306730 {
                      flex-shrink: 0;
                      border-radius: 8px;
                      width: 34px;
                      height: 34px;
                    }
                  }
                }
              }

              .verticalDivider3 {
                position: absolute;
                top: 170px;
                right: -1px;
                flex-shrink: 0;
                width: 1px;
                height: 80px;
                background-image: linear-gradient(
                  180deg,
                  var(--color-white-0, #ffffff00) 0%,
                  var(--color-white-solid, #ffffff) 50%,
                  var(--color-white-0, #ffffff00) 100%
                );
              }
            }

            .instance15 {
              display: flex;
              position: absolute;
              top: 203px;
              left: -8px;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              width: 16px;
              height: 16px;
            }
          }

          .autoWrapper8 {
            position: relative;
            margin-top: 257px;
            margin-left: 16px;
            width: 188px;
            height: 418px;

            .instance17 {
              display: flex;
              position: absolute;
              top: -8px;
              left: -8px;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              width: 16px;
              height: 16px;
            }

            .line5 {
              position: absolute;
              top: 0;
              left: 0;
              width: 188px;
              height: 418px;
            }
          }
        }
      }

      .autoWrapper9 {
        position: relative;
        margin-top: 9px;
        margin-left: 1374px;
        width: 170px;
        height: 190px;

        .line6 {
          position: absolute;
          top: 0;
          left: 0;
          width: 170px;
          height: 190px;
        }
      }
    }

    .instance18 {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      margin-top: 873px;
      margin-left: 222px;
      width: 16px;
      height: 16px;
    }

    .instance20 {
      position: relative;
      margin-top: 516px;
      margin-left: 154px;
      width: 240px;
      height: 442px;

      .frame10 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 4px;
        width: 240px;
        height: 442px;
        row-gap: 4px;
        backdrop-filter: blur(10px);

        .component63 {
          display: flex;
          flex-direction: column;
          flex-grow: 1;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 16px;
          background: var(--Black-20, #1c1c1c33);

          .overlayShadowOverlay2 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            align-self: stretch;
            border-radius: 16px;
            background: var(--White-80, #ffffffcc);
            min-width: 157px;
            min-height: 157px;
            overflow: hidden;

            .frame9 {
              display: flex;
              align-items: flex-end;
              padding-bottom: 6px;
              padding-left: 6px;
              width: 232px;
              height: 362px;
              background-image: url(../image/mlgd1y31-hmc6dk1.png);
              background-position: center;
              background-size: contain;
              background-repeat: no-repeat;
            }
          }
        }

        .verticalDivider4 {
          position: absolute;
          top: 180px;
          right: -1px;
          flex-shrink: 0;
          width: 1px;
          height: 80px;
          background-image: linear-gradient(
            180deg,
            var(--color-white-0, #ffffff00) 0%,
            var(--color-white-solid, #ffffff) 50%,
            var(--color-white-0, #ffffff00) 100%
          );
        }
      }

      .instance19 {
        display: flex;
        position: absolute;
        top: 213px;
        left: -8px;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 16px;
        height: 16px;
      }
    }

    .instance21 {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      margin-top: 729px;
      margin-left: 8px;
      width: 16px;
      height: 16px;
    }

    .line7 {
      position: absolute;
      top: 737px;
      left: 1863px;
      width: 162px;
      height: 144px;
    }
  }

  .autoWrapper13 {
    position: relative;
    margin-top: 124px;
    width: 2329px;
    height: 68px;

    .overlayBorderOverlay2 {
      display: flex;
      position: absolute;
      top: -442px;
      left: 1643px;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid var(--White-20, #ffffff33);
      border-radius: 16px;
      background: var(--White-100, #ffffff);
      padding: 3px;
      width: 214px;
      height: 446px;
      row-gap: 8px;
    }

    .instance22 {
      display: flex;
      position: absolute;
      top: -267px;
      left: 1217px;
      align-items: center;
      border-radius: 20px;
      background: var(--White-100, #ffffff);
      padding: 4px 0px 4px 4px;
      width: 240px;
      height: 286px;

      .autoWrapper12 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .component64 {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          align-self: stretch;
          border-radius: 16px;
          height: 243px;
          overflow: hidden;

          .generatedVisuals2 {
            flex-grow: 1;
            align-self: stretch;
            width: 232px;
            height: 243px;
          }
        }
      }
    }

    .bottomBar {
      display: flex;
      position: absolute;
      top: 0;
      left: 0;
      align-items: flex-end;
      justify-content: space-between;
      padding: 10px;
      width: 2329px;
      height: 68px;

      .container17 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 10px;

        .container16 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 591px;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 8px;
          height: 40px;
          backdrop-filter: blur(8px);

          .screenNormal {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding: 10px;
            overflow: hidden;

            .iconFrame3 {
              width: 24px;
              height: 24px;
            }
          }

          .vector131 {
            flex-shrink: 0;
            background: #00000008;
            width: 1px;
            height: 20px;
          }

          .container15 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            background: var(--White-100, #ffffff);
            padding: 10px;

            .minus {
              flex-shrink: 0;
              padding: 2px 0px;
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 17px;
              letter-spacing: -0.16px;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
            }

            .percentage {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: -0.16px;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }

      .toolbar2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        row-gap: 10px;

        .toolbar {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 7px;
          margin-right: 286px;
          margin-left: 286px;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 8px;
          height: 48px;

          .frame11 {
            flex-shrink: 0;
            width: 17px;
            height: 17px;
            overflow: hidden;
          }

          .icon11 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 9999px;
            background: var(--Brand-Doubao-10, #00e4241a);
            padding: 8px 6px;
            width: 40px;
            height: 40px;
          }

          .icon12 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 9999px;
            background: var(--White-100, #ffffff);
            padding: 8px 6px;
            width: 40px;
            height: 40px;
          }

          .frame12 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 7px;
            border-radius: 9999px;
            background: var(--White-100, #ffffff);
            padding: 8px 6px;
            width: 40px;
          }
        }
      }

      .container19 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-end;
        row-gap: 10px;

        .container18 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 8px;
          margin-left: 634px;

          .component19 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
              inset 0px 0px 0px 1px #ffffff0d;
            background: var(--White-100, #ffffff);
            padding: 8px 24px;
            width: 40px;
            height: 40px;
            row-gap: 7px;
            backdrop-filter: blur(8px);

            .clear {
              flex-shrink: 0;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
