* {
  box-sizing: border-box;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid var(--White-20, #ffffff33);
  border-radius: 16px;
  background: var(--White-100, #ffffff);
  padding: 7px;
  width: 220px;
  height: 209px;

  .text {
    padding: 4px 8px;
    line-height: 17px;
    letter-spacing: 0;
    color: var(--Black-40, #1c1c1c66);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
  }

  .frame2 {
    display: flex;
    align-items: center;
    column-gap: 4px;
    margin-top: 8px;
    width: 204px;

    .component20 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 6px;
      border-radius: 30px;
      padding: 4px 10px;
      height: 32px;

      .frame {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
      }

      .textDescription {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .generatedVisuals {
      flex-shrink: 0;
      border-radius: 8px;
      width: 76px;
      height: 52px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    margin-top: 16px;
    border-radius: 15px;
    background: var(--Black-3, #00000008);
    padding: 4px 10px;
    width: 204px;
    height: 32px;

    .image {
      flex-shrink: 0;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Black-40, #1c1c1c66);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .addIcon {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
    }
  }
}
