* {
  box-sizing: border-box;
}

.frame4 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: var(--White-100, #ffffff);
  width: 2329px;
  height: 1684px;
  overflow: hidden;
  row-gap: 10px;

  .icon4 {
    flex-shrink: 0;
    width: 20px;
    height: 20px;
    overflow: hidden;
  }

  .topBar {
    display: flex;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    justify-content: space-between;
    padding: 8px 10px;

    .leftSection {
      display: flex;
      flex-grow: 1;
      align-items: center;
      column-gap: 8px;

      .icon {
        position: relative;
        flex-shrink: 0;
        border-radius: 9999px;
        background: var(--White-100, #ffffff);
        width: 52px;
        height: 40px;
        overflow: hidden;

        .frame {
          position: absolute;
          top: 12px;
          left: 26px;
          width: 1px;
          height: 16px;
          rotate: -90deg;
        }

        .frame2 {
          position: absolute;
          top: 12px;
          left: 26px;
          width: 1px;
          height: 16px;
        }
      }
    }

    .container3 {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      row-gap: 10px;

      .instance {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 4px;
        margin-right: 290px;
        margin-left: 290px;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 4px;

        .icon2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 13px;
          border-radius: 9999px;
          padding: 11px 27px;
          width: 32px;
          height: 32px;
          overflow: hidden;

          .frame3 {
            flex-shrink: 0;
            width: 11px;
            height: 12px;
          }
        }

        .container2 {
          display: flex;
          flex-shrink: 0;
          flex-wrap: wrap;
          align-content: center;
          align-items: center;
          justify-content: center;
          column-gap: 3px;
          border-radius: 9999px;
          padding: 11px 27px;
          width: 32px;
          height: 32px;
          row-gap: 4px;

          .container {
            flex-shrink: 0;
            width: 4px;
            height: 11px;
          }
        }

        .icon3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 13px;
          padding: 3px;
          width: 32px;
          height: 32px;
          overflow: hidden;

          .autoWrapper {
            position: relative;
            flex-shrink: 0;
            width: 13px;
            height: 12px;

            .iconFrame {
              position: absolute;
              top: 0;
              left: 0;
              width: 13px;
              height: 12px;
              rotate: -180deg;
            }
          }
        }

        .button {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 4px;
          border-radius: 9999px;
          background: var(--Black-100, #1c1c1c);
          padding-right: 16px;
          padding-left: 8px;
          height: 32px;

          .buttonLabel {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: var(--White-100, #ffffff);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 700;
          }
        }
      }
    }

    .rightSection {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: flex-end;
      column-gap: 8px;

      .darkMode {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 7px;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding-top: 8px;
        padding-bottom: 8px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        backdrop-filter: blur(8px);

        .zH {
          flex-shrink: 0;
          line-height: 16px;
          letter-spacing: 0;
          color: #000000;
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 700;
        }
      }

      .darkMode2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 10px;
        overflow: hidden;

        .iconFrame2 {
          width: 20px;
          height: 20px;
        }
      }

      .userIcon {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        border-radius: 9999px;
        box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
          inset 0px 0px 0px 1px #ffffff0d;
        background: var(--White-100, #ffffff);
        padding: 13px 14px;
        overflow: hidden;

        .vector {
          width: 12px;
          height: 15px;
        }
      }
    }
  }

  .frame2117130776 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    align-self: stretch;
    padding: 20px 100px;
    row-gap: 20px;

    .textInput {
      display: flex;
      position: relative;
      flex-shrink: 0;
      align-items: center;
      border-radius: 16px;
      background: var(--Black-5, #1c1c1c0d);
      padding: 12px 16px 12px 44px;
      width: 896px;
      height: 48px;
      overflow: hidden;

      .text {
        flex-shrink: 0;
        line-height: 19px;
        letter-spacing: -0.31px;
        color: var(--Black-40, #1c1c1c66);
        font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 16px;
      }

      .container4 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-shrink: 0;
        align-items: center;
        padding-left: 16px;
        width: 36px;
        height: 48px;
      }
    }

    .frame2117130734 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      row-gap: 40px;

      .heading2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        padding-bottom: 1px;

        .a20260521 {
          flex-grow: 1;
          letter-spacing: 0;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 21px;
          font-weight: 500;
        }
      }

      .frame2117130810 {
        display: flex;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        column-gap: 20px;

        .text2 {
          flex-shrink: 0;
          line-height: 20px;
          letter-spacing: 0;
          color: var(--Black-40, #1c1c1c66);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 17px;
          font-weight: 500;
        }

        .frame2117130899 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border: 1px solid var(--Black-100, #1c1c1c);
          border-radius: 25px;
          background: var(--White-100, #ffffff);
          padding: 7px 19px;

          .text3 {
            flex-shrink: 0;
            line-height: 20px;
            letter-spacing: 0;
            color: var(--Black-100, #1c1c1c);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 17px;
            font-weight: 500;
          }
        }

        .frame2117130722 {
          display: flex;
          flex-grow: 1;
          align-items: center;
          column-gap: 16px;
        }

        .frame21171307222 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .group239 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            background: var(--White-100, #ffffff);
            padding: 8px 20px;
            overflow: hidden;
            row-gap: 10px;
          }
        }

        .frame2117130723 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;

          .frame2117130818 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border: 1px solid var(--Black-100, #1c1c1c);
            border-radius: 25px;
            background: var(--White-100, #ffffff);
            padding: 7px 19px;
            row-gap: 10px;

            .text4 {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 17px;
              font-weight: 500;
            }
          }

          .frame2117130820 {
            display: inline-flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 25px;
            background: var(--White-100, #ffffff);
            padding: 8px 20px;
            row-gap: 10px;

            .text5 {
              flex-shrink: 0;
              align-self: stretch;
              line-height: 20px;
              letter-spacing: 0;
              color: var(--Black-40, #1c1c1c66);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 17px;
              font-weight: 500;
            }
          }
        }
      }

      .frame2117130732 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 24px;

        .frame2117130731 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 20px;

          .rectangle13497 {
            flex-shrink: 0;
            width: 320px;
            height: 520px;
          }
        }
      }

      .frame2117130733 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 24px;

        .frame21171307312 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 20px;

          .frame2117130804 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            align-self: stretch;
            justify-content: center;
            background: var(--White-100, #ffffff);
            row-gap: 10px;

            .rectangle13498 {
              flex-shrink: 0;
              align-self: stretch;
              width: 651px;
              height: 434px;
            }
          }
        }
      }
    }
  }
}
