* {
  box-sizing: border-box;
}

.frame11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--White-100, #ffffff);
  width: 2329px;
  height: 1280px;
  overflow: hidden;
  background-image: linear-gradient(#1c1c1c1a, #1c1c1c1a);

  .image {
    flex-shrink: 0;
    line-height: 22px;
    letter-spacing: -0.21px;
    color: var(--Black-40, #1c1c1c66);
    font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 14px;
  }

  .ellipse1 {
    flex-shrink: 0;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--White-100, #ffffff);
    border-radius: 50%;
    background: var(--Brand-Doubao-100, #00e424);
    width: 12px;
    height: 12px;
  }

  .component10 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: 6px;
    width: 16px;
    height: 16px;

    .component1 {
      flex-shrink: 0;
      width: 15px;
      height: 12px;
    }
  }

  .iconContainer {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 20px;
    height: 20px;

    .krea7 {
      flex-shrink: 0;
      width: 18px;
      height: 18px;
      overflow: hidden;
    }
  }

  .mainContent {
    display: flex;
    position: absolute;
    top: 47px;
    left: 433px;
    align-items: flex-start;
    width: 1704px;
    height: 1148px;

    .imageEditorText {
      flex-grow: 1;
      line-height: 22px;
      letter-spacing: -0.21px;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 600;
    }

    .verticalDivider2 {
      width: 2px;
      height: 60px;
      background-image: linear-gradient(
        180deg,
        var(--color-white-0, #ffffff00) 0%,
        var(--color-white-solid, #ffffff) 50%,
        var(--color-white-0, #ffffff00) 100%
      );
    }

    .verticalDivider {
      margin-left: 3px;
      width: 1px;
      height: 80px;
      background-image: linear-gradient(
        180deg,
        var(--color-white-0, #ffffff00) 0%,
        var(--color-white-solid, #ffffff) 50%,
        var(--color-white-0, #ffffff00) 100%
      );
    }

    .text {
      flex-grow: 1;
      line-height: 17px;
      letter-spacing: -0.16px;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
    }

    .presetText {
      display: -webkit-box;
      flex-grow: 1;
      overflow: hidden;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .addIcon {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
    }

    .container5 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .image2 {
        flex-shrink: 0;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Black-40, #1c1c1c66);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }
    }

    .icon3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      row-gap: 10px;

      .workflow {
        flex-shrink: 0;
        width: 14px;
        height: 14px;
        overflow: hidden;
      }
    }

    .autoWrapper6 {
      position: relative;
      flex-shrink: 0;
      width: 12px;
      height: 12px;

      .expandIcon {
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        rotate: -90deg;
      }
    }

    .container4 {
      display: flex;
      position: relative;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: flex-end;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .iconContainer2 {
        flex-shrink: 0;
        border-radius: 50%;
        width: 16px;
        height: 16px;
      }

      .instance12 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 8px;
        opacity: 0.4;
        padding: 2px;
        overflow: hidden;

        .icon4 {
          flex-shrink: 0;
          width: 8px;
          height: 9px;
        }
      }

      .instance13 {
        display: flex;
        position: absolute;
        top: 8px;
        left: -12px;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 16px;
        height: 16px;
      }
    }

    .instance11 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: center;
      column-gap: 6px;
      border-radius: 15px;
      background: var(--Black-3, #00000008);
      padding: 4px 10px;
      height: 32px;

      .icon2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        padding: 2px;
        width: 16px;
        height: 16px;
        overflow: hidden;

        .icon {
          flex-shrink: 0;
          width: 9px;
          height: 9px;
        }
      }
    }

    .container2 {
      display: flex;
      align-items: flex-end;
      column-gap: 4px;
      margin-top: 2px;
      padding: 4px 8px;
      width: 232px;

      .container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;
        height: 25px;
        overflow: hidden;

        .imageInput {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: -0.21px;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }

    .effect {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      padding: 2px 6px 1px 7px;

      .vector {
        margin-left: 2px;
        width: 2px;
        height: 2px;
      }

      .autoWrapper7 {
        position: relative;
        margin-top: -1px;
        width: 2px;
        height: 13px;

        .vector2 {
          position: absolute;
          top: 4px;
          right: -3px;
          width: 1px;
          height: 1px;
        }

        .verticalContainer {
          display: flex;
          position: absolute;
          top: 0;
          left: 0;
          flex-direction: column;
          align-items: center;
          width: 2px;
          height: 13px;
          rotate: -45deg;
          row-gap: 1px;

          .horizontalContainer {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            width: 4px;
            height: 4px;

            .roundedRectangle {
              flex-shrink: 0;
              border-radius: 1px;
              width: 2px;
              height: 3px;
              rotate: 90deg;
            }
          }

          .roundedRectangle2 {
            flex-shrink: 0;
            border-radius: 1px;
            background: var(--Black-100, #1c1c1c);
            width: 2px;
            height: 8px;
          }
        }
      }
    }

    .autoWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;

      .component6 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 16px;
        height: 243px;
        overflow: hidden;

        .generatedVisuals {
          flex-grow: 1;
          align-self: stretch;
          width: 232px;
          height: 243px;
        }
      }
    }

    .instance {
      display: flex;
      align-items: center;
      margin-top: 717px;
      border-radius: 20px;
      background: var(--White-100, #ffffff);
      padding: 4px 0px 4px 4px;
      width: 240px;
    }

    .autoWrapper8 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 57px;

      .autoWrapper3 {
        position: relative;
        margin-top: 585px;
        width: 471px;
        height: 220px;

        .instance2 {
          display: flex;
          position: absolute;
          bottom: -6px;
          left: 8px;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          width: 16px;
          height: 16px;
        }

        .line {
          position: absolute;
          top: 0;
          left: 0;
          width: 471px;
          height: 220px;
          background-image: url(../image/mlgd1pij-8ldss2o.svg);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .instance3 {
            display: flex;
            position: absolute;
            top: 46px;
            right: 114px;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            width: 16px;
            height: 16px;
          }
        }

        .instance4 {
          display: flex;
          position: absolute;
          top: -75px;
          left: 93px;
          align-items: center;
          border-radius: 20px;
          background: var(--White-100, #ffffff);
          padding: 4px 0px 4px 4px;
          width: 240px;
          height: 258px;

          .autoWrapper2 {
            display: flex;
            flex-direction: column;
            align-items: center;
            align-self: stretch;

            .component62 {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              align-self: stretch;
              border-radius: 16px;
              height: 215px;
              overflow: hidden;

              .generatedVisuals2 {
                flex-grow: 1;
                align-self: stretch;
                width: 232px;
                height: 215px;
              }
            }
          }
        }

        .instance5 {
          display: flex;
          position: absolute;
          bottom: -151px;
          left: 341px;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          width: 16px;
          height: 16px;
        }

        .line2 {
          position: absolute;
          top: -36px;
          left: 349px;
          width: 122px;
          height: 90px;
        }

        .line3 {
          position: absolute;
          bottom: -143px;
          left: 349px;
          width: 122px;
          height: 327px;
        }
      }

      .instance6 {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-top: 153px;
        margin-left: -466px;
        width: 16px;
        height: 16px;
      }

      .instance7 {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-top: 409px;
        margin-left: -16px;
        width: 16px;
        height: 16px;
      }

      .instance8 {
        display: flex;
        align-items: center;
        margin-left: 72px;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 4px 0px 4px 4px;
        width: 240px;

        .autoWrapper4 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .component63 {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            align-self: stretch;
            border-radius: 16px;
            height: 417px;
            overflow: hidden;

            .generatedVisuals3 {
              flex-grow: 1;
              align-self: stretch;
              width: 232px;
              height: 417px;
            }
          }
        }
      }

      .instance9 {
        display: flex;
        align-items: center;
        margin-top: 805px;
        margin-left: -240px;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 4px 0px 4px 4px;
        width: 240px;
      }

      .autoWrapper5 {
        position: relative;
        margin-top: 35px;
        margin-left: 16px;
        width: 369px;
        height: 195px;

        .line4 {
          position: absolute;
          bottom: -283px;
          left: 0;
          width: 122px;
          height: 283px;
        }

        .instance10 {
          display: flex;
          position: absolute;
          bottom: -8px;
          left: -8px;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          width: 16px;
          height: 16px;
        }

        .line5 {
          position: absolute;
          top: 0;
          left: 0;
          width: 369px;
          height: 195px;
        }
      }

      .overlayBorderOverlay {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 421px;
        margin-left: -247px;
        border: 1px solid var(--White-20, #ffffff33);
        border-radius: 16px;
        background: var(--White-100, #ffffff);
        padding: 3px;
        row-gap: 8px;

        .container6 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 4px;

          .container3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            align-self: stretch;
            justify-content: center;
            column-gap: 6px;
            border-radius: 15px;
            background: var(--Black-3, #00000008);
            padding: 4px 10px;
            height: 32px;
          }

          .component5 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-end;
            align-self: stretch;
            justify-content: center;
            border-radius: 16px;
            background: var(--Black-3, #00000008);
            padding: 16px;

            .combinedInputText {
              flex-shrink: 0;
              padding: 0px 67px 35px 0px;
              width: 174px;
              line-height: 14px;
              letter-spacing: -0.21px;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }

        .container7 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 10px;
          padding-right: 4px;
          padding-left: 4px;
          height: 32px;

          .instance14 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            border-radius: 51px;
            background: var(--Brand-Doubao-100, #00e424);
            padding: 10px;
            height: 24px;

            .buttonLabel {
              flex-shrink: 0;
              line-height: 22px;
              letter-spacing: 0;
              color: var(--White-100, #ffffff);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 700;
            }
          }
        }
      }

      .instance15 {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-top: 612px;
        margin-left: 8px;
        width: 16px;
        height: 16px;
      }
    }

    .overlayBorderOverlay2 {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      border: 1px solid var(--White-20, #ffffff33);
      border-radius: 16px;
      background: var(--White-100, #ffffff);
      padding: 3px;
      row-gap: 8px;

      .container8 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 4px;

        .instance16 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: center;
          column-gap: 6px;
          border-radius: 15px;
          background: var(--Black-3, #00000008);
          padding: 4px 10px;
          height: 32px;

          .presetText2 {
            flex-grow: 1;
            line-height: 17px;
            letter-spacing: 0;
            color: var(--Black-40, #1c1c1c66);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }

        .textContainer {
          display: inline-flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          border-radius: 16px;
          background: var(--Black-3, #00000008);
          padding: 12px 139px 12px 12px;
          height: 97px;
          row-gap: 10px;

          .placeholderText {
            flex-shrink: 0;
            align-self: stretch;
            opacity: 0.4;
            line-height: 18px;
            letter-spacing: -0.21px;
            color: var(--Black-100, #1c1c1c);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }

      .frame {
        flex-shrink: 0;
        width: 206px;
        height: 2px;
      }

      .container12 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 4px;

        .numberText {
          flex-shrink: 0;
          width: 20px;
          text-align: center;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }

        .number {
          flex-shrink: 0;
          width: 16px;
          height: 16px;
          overflow: hidden;
        }

        .container9 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 6px;
          border-radius: 15px;
          background: var(--Black-3, #00000008);
          padding: 4px 10px;
          height: 32px;
        }

        .container10 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 6px;
          border-radius: 15px;
          background: var(--Black-3, #00000008);
          padding: 4px 10px;
          height: 32px;

          .numberContainer {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 20px;
            row-gap: 10px;

            .numberText2 {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: 0;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
              font-weight: 500;
            }
          }
        }

        .container11 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 6px;
          border-radius: 15px;
          background: var(--Black-3, #00000008);
          padding: 4px 10px;
          height: 32px;
        }
      }

      .container13 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        padding-right: 4px;
        padding-left: 4px;
        height: 32px;

        .instance17 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          border-radius: 51px;
          background: var(--White-100, #ffffff);
          padding: 10px;
          width: 24px;
          height: 24px;
        }
      }
    }

    .instance18 {
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      margin-top: 252px;
      margin-left: 8px;
      width: 16px;
      height: 16px;
    }

    .instance20 {
      position: relative;
      margin-top: 194px;
      margin-left: 268px;
      width: 240px;
      height: 402px;

      .frame4 {
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        align-items: flex-start;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 4px;
        width: 240px;
        height: 402px;
        row-gap: 4px;
        backdrop-filter: blur(10px);

        .overlayShadowOverlay {
          display: flex;
          flex-grow: 1;
          align-items: center;
          align-self: stretch;
          border-radius: 16px;
          min-width: 157px;
          min-height: 157px;
          overflow: hidden;

          .frame2 {
            display: flex;
            align-items: flex-end;
            padding-bottom: 6px;
            padding-left: 6px;
            width: 232px;
            height: 322px;
            background-image: url(../image/mlgd1pir-tg0stea.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;

            .a6091456641810306730 {
              flex-shrink: 0;
              border-radius: 8px;
              width: 34px;
              height: 34px;
            }

            .imageContainer {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 15px;
              border: 1px solid var(--White-100, #ffffff);
              border-radius: 12px;
              padding: 3px;
              width: 40px;
              height: 40px;
            }

            .imageContainer2 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 15px;
              border-radius: 12px;
              padding: 4px;
              width: 40px;
              height: 40px;
            }
          }
        }

        .frame13 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 4px;

          .frame3 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: center;
            column-gap: 6px;
            border-radius: 30px;
            background: var(--Black-3, #00000008);
            padding: 4px 10px;
            height: 32px;

            .frame14 {
              flex-shrink: 0;
              width: 16px;
              height: 16px;
            }
          }
        }

        .verticalDivider3 {
          position: absolute;
          top: 160px;
          right: -1px;
          flex-shrink: 0;
          width: 1px;
          height: 80px;
          background-image: linear-gradient(
            180deg,
            var(--color-white-0, #ffffff00) 0%,
            var(--color-white-solid, #ffffff) 50%,
            var(--color-white-0, #ffffff00) 100%
          );
        }

        .frame142 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-end;
          align-self: stretch;
          column-gap: 4px;
          z-index: 1;
          padding: 4px 8px;
          height: 32px;

          .container14 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            column-gap: 8px;
            height: 25px;
            overflow: hidden;

            .preview {
              flex-shrink: 0;
              line-height: 22px;
              letter-spacing: -0.21px;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 15px;
              font-weight: 600;
            }
          }
        }
      }

      .instance19 {
        display: flex;
        position: absolute;
        top: 193px;
        left: -8px;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        width: 16px;
        height: 16px;
      }
    }

    .line6 {
      position: absolute;
      top: 260px;
      left: 1188px;
      width: 276px;
      height: 135px;
    }
  }

  .autoWrapper14 {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding-right: 0;
    padding-left: 0;

    .verticalDivider4 {
      margin-left: 4px;
      width: 2px;
      height: 60px;
      background-image: linear-gradient(
        180deg,
        var(--color-white-0, #ffffff00) 0%,
        var(--color-white-solid, #ffffff) 50%,
        var(--color-white-0, #ffffff00) 100%
      );
    }

    .add {
      flex-shrink: 0;
      width: 24px;
      height: 24px;
    }

    .container19 {
      display: flex;
      align-items: flex-end;
      column-gap: 4px;
      margin-top: 2px;
      padding: 4px 8px;
      width: 232px;

      .container18 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;
        height: 25px;
        overflow: hidden;

        .textInput {
          flex-shrink: 0;
          line-height: 22px;
          letter-spacing: -0.21px;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 14px;
          font-weight: 600;
        }
      }
    }

    .topBar {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      justify-content: space-between;
      padding: 8px 10px;
      min-width: 2329px;

      .leftSection {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 8px;

        .icon5 {
          position: relative;
          flex-shrink: 0;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          width: 52px;
          height: 40px;
          overflow: hidden;

          .frame5 {
            position: absolute;
            top: 12px;
            left: 26px;
            width: 1px;
            height: 16px;
            rotate: -90deg;
          }

          .frame6 {
            position: absolute;
            top: 12px;
            left: 26px;
            width: 1px;
            height: 16px;
          }
        }

        .component102 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 8px 16px;
          height: 40px;
          backdrop-filter: blur(8px);

          .currentWorkflow {
            flex-shrink: 0;
            opacity: 0.4;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Black-100, #1c1c1c);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
          }
        }

        .component103 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 8px 16px;
          height: 40px;
          backdrop-filter: blur(8px);

          .workflow2 {
            flex-shrink: 0;
            line-height: 18px;
            letter-spacing: 0;
            color: var(--Black-100, #1c1c1c);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 700;
          }
        }

        .add2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 7px;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding-top: 8px;
          padding-bottom: 8px;
          width: 52px;
          height: 40px;
          overflow: hidden;
          backdrop-filter: blur(8px);

          .component104 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            width: 56px;
            height: 56px;
          }
        }

        .frame7 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-80, #ffffffcc);
          padding: 8px 24px;
          width: 52px;
          row-gap: 7px;
          backdrop-filter: blur(8px);
        }
      }

      .container17 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        row-gap: 10px;

        .instance21 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 290px;
          margin-left: 290px;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 4px;

          .icon6 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 13px;
            border-radius: 9999px;
            padding: 11px 27px;
            width: 32px;
            height: 32px;
            overflow: hidden;

            .frame8 {
              flex-shrink: 0;
              width: 11px;
              height: 12px;
            }
          }

          .buttonMargin {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 4px;
            border-radius: 9999px;
            background: var(--Black-100, #1c1c1c);
            padding-right: 16px;
            padding-left: 8px;
            height: 32px;

            .container16 {
              display: flex;
              flex-shrink: 0;
              flex-wrap: wrap;
              align-content: center;
              align-items: center;
              justify-content: center;
              column-gap: 3px;
              padding: 3px;
              width: 20px;
              height: 20px;
              row-gap: 4px;

              .container15 {
                flex-shrink: 0;
                width: 4px;
                height: 11px;
              }
            }

            .buttonText {
              flex-shrink: 0;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--White-100, #ffffff);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
              font-weight: 700;
            }
          }

          .linkIcon {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 13px;
            border-radius: 9999px;
            padding: 11px 27px;
            width: 32px;
            height: 32px;
            overflow: hidden;

            .autoWrapper9 {
              position: relative;
              flex-shrink: 0;
              width: 13px;
              height: 12px;

              .iconFrame {
                position: absolute;
                top: 0;
                left: 0;
                width: 13px;
                height: 12px;
                rotate: -180deg;
              }
            }
          }

          .button {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 7px;
            border-radius: 9999px;
            padding: 8px 24px;
            width: 32px;
            height: 32px;

            .icon7 {
              flex-shrink: 0;
              width: 20px;
              height: 20px;
              overflow: hidden;
            }
          }
        }
      }

      .rightSection {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: flex-end;
        column-gap: 8px;

        .darkMode {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 7px;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding-top: 8px;
          padding-bottom: 8px;
          width: 40px;
          height: 40px;
          overflow: hidden;
          backdrop-filter: blur(8px);

          .eH {
            flex-shrink: 0;
            line-height: 16px;
            letter-spacing: 0;
            color: #000000;
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 700;
          }
        }

        .darkMode2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 10px;
          overflow: hidden;

          .iconFrame2 {
            width: 20px;
            height: 20px;
          }
        }

        .userIcon {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 13px 14px;
          overflow: hidden;

          .vector3 {
            width: 12px;
            height: 15px;
          }
        }
      }
    }

    .instance22 {
      display: flex;
      align-items: center;
      margin-top: 139px;
      margin-left: 430px;
      border-radius: 20px;
      background: var(--White-100, #ffffff);
      padding: 4px 0px 4px 4px;
      width: 240px;

      .autoWrapper10 {
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: stretch;

        .textContainer2 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;
          border-radius: 16px;
          background: var(--Black-3, #00000008);
          padding: 12px 165px 12px 12px;
          height: 97px;
          row-gap: 10px;

          .placeholderText2 {
            flex-shrink: 0;
            opacity: 0.4;
            line-height: 14px;
            letter-spacing: -0.21px;
            color: var(--Black-100, #1c1c1c);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
          }
        }
      }
    }

    .autoWrapper13 {
      display: flex;
      align-items: flex-start;
      align-self: stretch;
      margin-top: 40px;
      padding-right: 168px;
      padding-left: 10px;

      .instance23 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 177px;
        border-radius: 9999px;
        background: var(--White-100, #ffffff);
        padding: 16px 8px;
        width: 52px;
        overflow: hidden;
        row-gap: 8px;

        .icon8 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          margin-right: 6px;
          margin-left: 6px;
          padding: 2px;
          overflow: hidden;

          .roundedRectangle4 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            border: 2px solid var(--Black-100, #1c1c1c);
            border-radius: 7px;
            padding: 4px;

            .roundedRectangle3 {
              border: 2px solid var(--Black-100, #1c1c1c);
              border-radius: 3px;
              width: 8px;
              height: 8px;
            }
          }
        }

        .vector132 {
          flex-shrink: 0;
          background: #1c1c1c0d;
          width: 8px;
          height: 1px;
        }

        .icon9 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          margin-right: 6px;
          margin-left: 6px;
          padding: 3px 8px 1px 10px;

          .vector4 {
            margin-left: 3px;
            width: 2px;
            height: 2px;
          }

          .autoWrapper11 {
            position: relative;
            margin-top: -2px;
            width: 4px;
            height: 20px;

            .vector5 {
              position: absolute;
              top: 5px;
              right: -4px;
              width: 2px;
              height: 2px;
            }

            .verticalContainer2 {
              display: flex;
              position: absolute;
              top: 0;
              left: 0;
              flex-direction: column;
              align-items: center;
              width: 4px;
              height: 20px;
              rotate: -45deg;
              row-gap: 2px;

              .horizontalContainer2 {
                display: flex;
                flex-shrink: 0;
                align-items: center;
                justify-content: center;
                column-gap: 15px;
                width: 6px;
                height: 6px;

                .roundedRectangle5 {
                  flex-shrink: 0;
                  border-radius: 2px;
                  width: 4px;
                  height: 4px;
                  rotate: 90deg;
                }
              }

              .roundedRectangle6 {
                flex-shrink: 0;
                border-radius: 2px;
                background: var(--Black-100, #1c1c1c);
                width: 3px;
                height: 12px;
              }
            }
          }
        }

        .workflow3 {
          flex-shrink: 0;
          width: 24px;
          height: 24px;
          overflow: hidden;
        }
      }

      .instance24 {
        display: flex;
        align-items: center;
        margin-left: 368px;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 4px 0px 4px 4px;
        width: 240px;

        .autoWrapper12 {
          display: flex;
          flex-direction: column;
          align-items: center;
          align-self: stretch;

          .component52 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            align-self: stretch;
            justify-content: flex-end;
            border-radius: 16px;
            background: var(--Black-3, #00000008);
            padding: 12px;
            overflow: hidden;
            row-gap: 12px;

            .descriptionText {
              flex-shrink: 0;
              align-self: stretch;
              width: 208px;
              line-height: 18px;
              letter-spacing: -0.21px;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 12px;
            }
          }
        }
      }

      .instance25 {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        margin-top: 59px;
        margin-left: 1475px;
        width: 16px;
        height: 16px;
      }
    }

    .bottomBar {
      display: flex;
      align-items: flex-end;
      align-self: stretch;
      justify-content: space-between;
      margin-top: 484px;
      padding: 10px;
      min-width: 2329px;

      .container22 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-start;
        row-gap: 10px;

        .container21 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 4px;
          margin-right: 591px;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 8px;
          height: 40px;
          backdrop-filter: blur(8px);

          .screenNormal {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            padding: 10px;
            overflow: hidden;

            .iconFrame3 {
              width: 24px;
              height: 24px;
            }
          }

          .vector131 {
            flex-shrink: 0;
            background: #00000008;
            width: 1px;
            height: 20px;
          }

          .container20 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            background: var(--White-100, #ffffff);
            padding: 10px;

            .minus {
              flex-shrink: 0;
              padding: 2px 0px;
              width: 20px;
              height: 20px;
              text-align: center;
              line-height: 17px;
              letter-spacing: -0.16px;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
            }

            .percentage {
              flex-shrink: 0;
              line-height: 17px;
              letter-spacing: -0.16px;
              color: var(--Black-100, #1c1c1c);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 14px;
              font-weight: 700;
            }
          }
        }
      }

      .toolbar2 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: center;
        row-gap: 10px;

        .toolbar {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 7px;
          margin-right: 286px;
          margin-left: 286px;
          border-radius: 9999px;
          box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
            inset 0px 0px 0px 1px #ffffff0d;
          background: var(--White-100, #ffffff);
          padding: 8px;
          height: 48px;

          .frame9 {
            flex-shrink: 0;
            width: 17px;
            height: 17px;
            overflow: hidden;
          }

          .icon10 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 9999px;
            background: var(--Brand-Doubao-10, #00e4241a);
            padding: 8px 6px;
            width: 40px;
            height: 40px;
          }

          .icon11 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
            border-radius: 9999px;
            background: var(--White-100, #ffffff);
            padding: 8px 6px;
            width: 40px;
            height: 40px;
          }

          .frame10 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 7px;
            border-radius: 9999px;
            background: var(--White-100, #ffffff);
            padding: 8px 6px;
            width: 40px;
          }
        }
      }

      .container24 {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        align-items: flex-end;
        row-gap: 10px;

        .container23 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 8px;
          margin-left: 634px;

          .component19 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            border-radius: 9999px;
            box-shadow: inset 0px 0px 0px 0px var(--White-100, #ffffff),
              inset 0px 0px 0px 1px #ffffff0d;
            background: var(--White-100, #ffffff);
            padding: 8px 24px;
            width: 40px;
            height: 40px;
            row-gap: 7px;
            backdrop-filter: blur(8px);

            .clear {
              flex-shrink: 0;
              width: 20px;
              height: 20px;
            }
          }
        }
      }
    }
  }
}
