* {
  box-sizing: border-box;
}

.component {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 10px;
  width: 210px;
  height: 152px;

  .ellipse1 {
    flex-shrink: 0;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--White-100, #ffffff);
    border-radius: 50%;
    background: var(--Brand-Doubao-100, #00e424);
    width: 12px;
    height: 12px;
  }

  .frame2117130902 {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: flex-start;
    border: 1px solid var(--White-20, #ffffff33);
    border-radius: 16px;
    background: var(--White-100, #ffffff);
    padding: 3px;
    row-gap: 8px;

    .frame {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
    }

    .container3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 4px;

      .presetText {
        display: -webkit-box;
        flex-grow: 1;
        overflow: hidden;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }

      .autoWrapper {
        position: relative;
        flex-shrink: 0;
        width: 12px;
        height: 12px;

        .expandIcon {
          position: absolute;
          top: 0;
          left: 0;
          width: 12px;
          height: 12px;
          rotate: -90deg;
        }
      }

      .instance {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .icon2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          padding: 2px;
          width: 16px;
          height: 16px;
          overflow: hidden;

          .icon {
            flex-shrink: 0;
            width: 9px;
            height: 9px;
          }
        }

        .text {
          flex-grow: 1;
          line-height: 17px;
          letter-spacing: -0.16px;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .container {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .iconContainer {
          flex-shrink: 0;
          border-radius: 50%;
          width: 16px;
          height: 16px;
        }

        .instance2 {
          display: flex;
          position: absolute;
          top: 8px;
          left: -12px;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          width: 16px;
          height: 16px;
        }
      }

      .container2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;
      }
    }

    .container4 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;
      padding-right: 4px;
      padding-left: 4px;
      height: 32px;

      .imageEditorText {
        flex-grow: 1;
        line-height: 22px;
        letter-spacing: -0.21px;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
      }

      .instance3 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 51px;
        background: var(--White-100, #ffffff);
        padding: 10px;
        width: 24px;
        height: 24px;

        .icon3 {
          flex-shrink: 0;
          width: 12px;
          height: 12px;
        }
      }
    }
  }

  .instance4 {
    display: flex;
    position: absolute;
    top: 68px;
    right: -24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 16px;
    height: 16px;
  }
}
