* {
  box-sizing: border-box;
}

.property1Default {
  display: flex;
  position: relative;
  align-items: center;
  column-gap: 10px;
  width: 214px;
  height: 411px;

  .ellipse1 {
    flex-shrink: 0;
    outline-width: 2px;
    outline-style: solid;
    outline-color: var(--White-100, #ffffff);
    border-radius: 50%;
    background: var(--Brand-Doubao-100, #00e424);
    width: 12px;
    height: 12px;
  }

  .overlayBorderOverlay {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: flex-start;
    border: 1px solid var(--White-20, #ffffff33);
    border-radius: 16px;
    background: var(--White-100, #ffffff);
    padding: 3px;
    row-gap: 8px;

    .presetText2 {
      display: -webkit-box;
      flex-grow: 1;
      overflow: hidden;
      line-height: 17px;
      letter-spacing: 0;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 12px;
      font-weight: 500;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
    }

    .addIcon {
      flex-shrink: 0;
      width: 12px;
      height: 12px;
    }

    .autoWrapper {
      position: relative;
      flex-shrink: 0;
      width: 12px;
      height: 12px;

      .expandIcon {
        position: absolute;
        top: 0;
        left: 0;
        width: 12px;
        height: 12px;
        rotate: -90deg;
      }
    }

    .container3 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 4px;

      .workflow {
        flex-shrink: 0;
        width: 14px;
        height: 14px;
        overflow: hidden;
      }

      .instance {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .icon2 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          padding: 2px;
          width: 16px;
          height: 16px;
          overflow: hidden;

          .icon {
            flex-shrink: 0;
            width: 9px;
            height: 9px;
          }
        }

        .text {
          flex-grow: 1;
          line-height: 17px;
          letter-spacing: -0.16px;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .instance2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .icon3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 16px;
          height: 16px;
          row-gap: 10px;
        }

        .presetText {
          flex-grow: 1;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Black-40, #1c1c1c66);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .container {
        display: flex;
        position: relative;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .iconContainer {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 8px;
          width: 16px;
          height: 16px;
        }

        .instance3 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          column-gap: 8px;
          opacity: 0.4;
          padding: 2px;
          overflow: hidden;

          .icon4 {
            flex-shrink: 0;
            width: 8px;
            height: 9px;
          }
        }

        .instance4 {
          display: flex;
          position: absolute;
          top: 8px;
          left: -12px;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 10px;
          width: 16px;
          height: 16px;
        }
      }

      .container2 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: center;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .image {
          flex-shrink: 0;
          line-height: 17px;
          letter-spacing: 0;
          color: var(--Black-40, #1c1c1c66);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
          font-weight: 500;
        }
      }

      .textContainer {
        display: inline-flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        border-radius: 16px;
        background: var(--Black-3, #00000008);
        padding: 12px 139px 12px 12px;
        height: 97px;
        row-gap: 10px;

        .placeholderText {
          flex-shrink: 0;
          opacity: 0.4;
          line-height: 18px;
          letter-spacing: -0.21px;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 12px;
        }
      }
    }

    .frame {
      flex-shrink: 0;
      width: 206px;
      height: 2px;
    }

    .container7 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 4px;

      .numberText {
        flex-shrink: 0;
        width: 20px;
        text-align: center;
        line-height: 17px;
        letter-spacing: 0;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 500;
      }

      .number {
        flex-shrink: 0;
        width: 16px;
        height: 16px;
        overflow: hidden;
      }

      .container4 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;
      }

      .container5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;

        .numberContainer {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          width: 20px;
          row-gap: 10px;

          .numberText2 {
            flex-shrink: 0;
            line-height: 17px;
            letter-spacing: 0;
            color: var(--Black-100, #1c1c1c);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 12px;
            font-weight: 500;
          }
        }
      }

      .container6 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: flex-end;
        column-gap: 6px;
        border-radius: 15px;
        background: var(--Black-3, #00000008);
        padding: 4px 10px;
        height: 32px;
      }
    }

    .container8 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 10px;
      padding-right: 4px;
      padding-left: 4px;
      height: 32px;

      .effect {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        padding: 2px 6px 1px 7px;

        .vector {
          margin-left: 2px;
          width: 2px;
          height: 2px;
        }

        .autoWrapper2 {
          position: relative;
          margin-top: -1px;
          width: 2px;
          height: 13px;

          .vector2 {
            position: absolute;
            top: 4px;
            right: -3px;
            width: 1px;
            height: 1px;
          }

          .verticalContainer {
            display: flex;
            position: absolute;
            top: 0;
            left: 0;
            flex-direction: column;
            align-items: center;
            width: 2px;
            height: 13px;
            rotate: -45deg;
            row-gap: 1px;

            .horizontalContainer {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 10px;
              width: 4px;
              height: 4px;

              .roundedRectangle {
                flex-shrink: 0;
                border-radius: 1px;
                width: 2px;
                height: 3px;
                rotate: 90deg;
              }
            }

            .roundedRectangle2 {
              flex-shrink: 0;
              border-radius: 1px;
              background: var(--Black-100, #1c1c1c);
              width: 2px;
              height: 8px;
            }
          }
        }
      }

      .imageEditorText {
        flex-grow: 1;
        line-height: 22px;
        letter-spacing: -0.21px;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 600;
      }

      .instance5 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        border-radius: 51px;
        background: var(--White-100, #ffffff);
        padding: 10px;
        width: 24px;
        height: 24px;
      }
    }
  }

  .instance6 {
    display: flex;
    position: absolute;
    top: 198px;
    right: -24px;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 10px;
    width: 16px;
    height: 16px;
  }
}
