* {
  box-sizing: border-box;
}

.instance2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-radius: 20px;
  background: var(--White-100, #ffffff);
  padding: 10px;
  width: 464px;
  height: 294px;
  row-gap: 12px;

  .frame2117130853 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 12px;

    .icon {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .component20 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 30px;
      padding: 4px 10px;
      height: 32px;

      .textDescription {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
      }
    }

    .button {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
      border-radius: 19px;
      background: var(--Black-5, #1c1c1c0d);
      padding-right: 8px;
      padding-left: 8px;
      width: 36px;
      height: 36px;
      overflow: hidden;

      .italicText {
        flex-shrink: 0;
        width: 16px;
        height: 18px;
      }
    }

    .button2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 4px;
      border: 1px solid #000000;
      border-radius: 19px;
      padding-right: 7px;
      padding-left: 7px;
      width: 36px;
      height: 36px;
      overflow: hidden;
    }
  }

  .frame {
    flex-shrink: 0;
    align-self: stretch;
    width: 444px;
    height: 2px;
  }

  .frame21171308572 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    row-gap: 4px;

    .frame2 {
      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }

    .text {
      flex-grow: 1;
      letter-spacing: 0;
      color: #000000;
      font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 500;
    }

    .frame2117130855 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      padding: 8px;

      .frame2117130856 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;

        .text2 {
          flex-shrink: 0;
          line-height: 9px;
          letter-spacing: 0;
          color: #000000;
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }

    .frame2117130857 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 12px;
      padding: 8px;

      .frame21171308562 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 10px;

        .text3 {
          flex-shrink: 0;
          line-height: 9px;
          letter-spacing: 0;
          color: var(--Black-40, #1c1c1c66);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }
      }
    }
  }

  .frame2117130833 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: flex-end;
    column-gap: 8px;
    padding: 10px 8px;

    .text4 {
      flex-shrink: 0;
      line-height: 16px;
      letter-spacing: 0;
      color: var(--Black-100, #1c1c1c);
      font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
    }

    .instance {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-end;
      border-radius: 52px;
      background: #00e424;
      padding: 3px;
      width: 40px;
      height: 24px;
      row-gap: 10px;

      .rectangle13504 {
        flex-grow: 1;
        border-radius: 36px;
        background: #ffffff;
        width: 20px;
      }
    }
  }
}
