* {
  box-sizing: border-box;
}

.frame2117130823 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 480px;
  height: 2298px;
  row-gap: 10px;

  .button4 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    opacity: 0.56;
    border-radius: 34px;
    padding: 0px 8px 2px;
    width: 36px;
    height: 36px;
    overflow: hidden;
  }

  .text4 {
    flex-shrink: 0;
    line-height: 16px;
    letter-spacing: 0;
    color: var(--Black-100, #1c1c1c);
    font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .frame2 {
    flex-shrink: 0;
    align-self: stretch;
    width: 444px;
    height: 2px;
  }

  .text6 {
    flex-grow: 1;
    letter-spacing: 0;
    color: var(--Black-100, #1c1c1c);
    font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
  }

  .text {
    flex-shrink: 0;
    line-height: 9px;
    letter-spacing: 0;
    color: #000000;
    font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
  }

  .icon {
    flex-shrink: 0;
    width: 16px;
    height: 16px;
  }

  .button5 {
    display: inline-flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    border-radius: 19px;
    padding-right: 8px;
    padding-left: 8px;
    height: 36px;
    overflow: hidden;
  }

  .component202 {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    column-gap: 6px;
    border-radius: 30px;
    padding: 4px 10px;
    height: 32px;
  }

  .frame2117130882 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 4px;
    padding-right: 8px;
    padding-left: 8px;
  }

  .button2 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    border: 1px solid #000000;
    border-radius: 19px;
    padding-right: 7px;
    padding-left: 7px;
    width: 36px;
    height: 36px;
    overflow: hidden;
  }

  .button {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    border-radius: 19px;
    background: var(--Black-5, #1c1c1c0d);
    padding-right: 8px;
    padding-left: 8px;
    width: 36px;
    height: 36px;
    overflow: hidden;
  }

  .instance {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-end;
    border-radius: 52px;
    background: #00e424;
    padding: 3px;
    width: 40px;
    height: 24px;
    row-gap: 10px;
  }

  .frame21171308322 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 8px;
    padding-right: 8px;
    padding-left: 8px;
    height: 50px;
  }

  .frame2117130857 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 12px;
    padding: 8px;

    .frame21171308562 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 10px;
    }
  }

  .frame2117130855 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 12px;
    padding: 8px;

    .frame2117130856 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 10px;
    }
  }

  .frame2117130853 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    column-gap: 12px;
  }

  .frame2117130881 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Black-5, #1c1c1c0d);
    padding: 16px 8px;
    row-gap: 12px;

    .text3 {
      flex-shrink: 0;
      line-height: 9px;
      letter-spacing: 0;
      color: var(--Black-40, #1c1c1c66);
      font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
      font-size: 13px;
      font-weight: 500;
    }

    .rectangle13504 {
      flex-grow: 1;
      border-radius: 36px;
      background: #ffffff;
      width: 20px;
    }

    .italicText {
      flex-shrink: 0;
      width: 16px;
      height: 18px;
    }

    .frame {
      flex-shrink: 0;
      width: 16px;
      height: 16px;
      overflow: hidden;
    }

    .component20 {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      column-gap: 6px;
      border-radius: 30px;
      padding: 4px 10px;
      height: 32px;
    }

    .frame2117130884 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 8px;

      .textDescription {
        flex-grow: 1;
        letter-spacing: 0;
        color: var(--Black-100, #1c1c1c);
        font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
        font-size: 13px;
        font-weight: 500;
      }

      .frame3 {
        flex-shrink: 0;
        width: 20px;
        height: 20px;
      }

      .instance2 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 10px;
        row-gap: 12px;

        .frame21171308572 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          row-gap: 4px;

          .text2 {
            flex-grow: 1;
            letter-spacing: 0;
            color: #000000;
            font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 13px;
            font-weight: 500;
          }
        }

        .frame2117130833 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 8px;
          padding: 10px 8px;
        }
      }

      .instance4 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 10px;
        row-gap: 12px;

        .frame2117130851 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 12px;

          .button3 {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            column-gap: 6px;
            border: 1px solid #00e424;
            border-radius: 34px;
            padding: 0px 7px 1px;
            width: 36px;
            height: 36px;
            overflow: hidden;
            background-image: url(../image/mlm4qzt3-wo3jjno.png);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          }
        }

        .b62E957E9A6848A8B9D7 {
          flex-shrink: 0;
          border: 1px solid #00e424;
          border-radius: 8px;
          width: 100px;
          height: 120px;
          background-image: url(../image/mlm4qzt3-wo3jjno.png);
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .frame2117130832 {
          display: inline-flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: flex-end;
          column-gap: 8px;
          padding: 10px 8px;

          .instance3 {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            align-items: flex-start;
            border-radius: 52px;
            background: var(--Black-5, #1c1c1c0d);
            padding: 3px;
            width: 40px;
            height: 24px;
            row-gap: 10px;
          }
        }
      }
    }

    .instance5 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      justify-content: center;
      border-radius: 20px;
      background: var(--White-100, #ffffff);
      padding: 10px;
      row-gap: 12px;

      .frame2117130888 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 12px;
      }

      .frame2117130889 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 16px;
        padding: 4px 8px;

        .text5 {
          flex-shrink: 0;
          line-height: 9px;
          letter-spacing: 0;
          color: var(--Black-100, #1c1c1c);
          font-family: "SF Pro", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
          font-size: 13px;
          font-weight: 500;
        }
      }

      .frame2117130891 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        column-gap: 10px;
        padding: 8px;

        .b62E957E9A6848A8B9D72 {
          flex-shrink: 0;
          border-radius: 8px;
          width: 100px;
          height: 120px;
        }

        .button6 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          column-gap: 4px;
          border-radius: 8px;
          background: var(--Black-5, #1c1c1c0d);
          padding-right: 8px;
          padding-left: 8px;
          width: 100px;
          height: 120px;
          overflow: hidden;
        }
      }
    }
  }

  .frame2117130883 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Black-5, #1c1c1c0d);
    padding: 16px 8px;
    row-gap: 12px;

    .frame2117130885 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 8px;

      .frame21171308573 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        row-gap: 4px;
      }

      .frame2117130864 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 10px;
        row-gap: 10px;

        .frame2117130863 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;
        }
      }

      .instance6 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        justify-content: center;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 10px;
        row-gap: 12px;
      }
    }
  }

  .frame2117130886 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 20px;
    background: var(--Black-5, #1c1c1c0d);
    padding: 16px 8px;
    row-gap: 12px;

    .frame21171308822 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 4px;
      padding-right: 8px;
      padding-left: 8px;

      .group245 {
        position: relative;
        flex-shrink: 0;
        width: 16px;
        height: 16px;

        .ellipse96 {
          position: absolute;
          top: 2px;
          left: 1px;
          border: 1px solid var(--Black-100, #1c1c1c);
          border-radius: 50%;
          width: 10px;
          height: 10px;
        }

        .ellipse97 {
          position: absolute;
          top: 5px;
          left: 5px;
          border: 1px solid var(--Black-100, #1c1c1c);
          border-radius: 50%;
          width: 10px;
          height: 10px;
        }
      }
    }

    .frame2117130890 {
      display: flex;
      flex-direction: column;
      flex-shrink: 0;
      align-items: flex-start;
      align-self: stretch;
      row-gap: 8px;

      .frame2117130849 {
        display: flex;
        flex-grow: 1;
        align-items: center;
        column-gap: 6px;
        border-radius: 30px;
        padding: 4px 10px;
        height: 16px;
      }

      .instance7 {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        align-items: flex-start;
        align-self: stretch;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 10px;
        row-gap: 12px;

        .frame2117130825 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          justify-content: space-between;

          .frame2117130824 {
            display: flex;
            flex-grow: 1;
            align-items: center;
            justify-content: flex-end;
            column-gap: 8px;

            .button7 {
              display: flex;
              flex-shrink: 0;
              align-items: center;
              justify-content: center;
              column-gap: 6px;
              outline-width: 1px;
              outline-style: solid;
              outline-color: var(--Brand-Doubao-100, #00e424);
              border-radius: 34px;
              padding: 0px 8px 2px;
              width: 36px;
              height: 36px;
              overflow: hidden;
              background-image: url(../image/mlm4qzt4-u0mk750.png);
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            }
          }
        }

        .frame2117130828 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          column-gap: 12px;
          padding-right: 8px;
          padding-left: 8px;

          .frame2117130826 {
            display: inline-flex;
            flex-shrink: 0;
            align-items: flex-start;
            column-gap: 12px;

            .text7 {
              flex-shrink: 0;
              line-height: 16px;
              letter-spacing: 0;
              color: var(--Black-40, #1c1c1c66);
              font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
              font-size: 13px;
            }
          }
        }

        .frame2117130829 {
          display: flex;
          flex-shrink: 0;
          align-items: flex-start;
          align-self: stretch;
          justify-content: center;
          column-gap: 10px;
          padding: 8px;
          height: 118px;

          .cinematicMirrorSelfi {
            flex-grow: 1;
            letter-spacing: 0;
            color: var(--Black-80, #1c1c1ccc);
            font-family: "SF Pro Display", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 14px;
          }
        }

        .frame21171308332 {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          align-self: stretch;
          column-gap: 8px;
          padding: 8px;
        }
      }

      .frame2117130887 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        align-self: stretch;
        justify-content: space-between;
        border-radius: 20px;
        background: var(--White-100, #ffffff);
        padding: 10px;
      }
    }
  }
}
